{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">{{ user.role }} Profile</h1>
            <form method="post" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ user_form|crispy }}
                </div>
                <div class="form-group">
                    {{ profile_form|crispy }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}