{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock %}

{% block content %}

    <section id="hero" class="d-flex justify-content-center align-items-center text-center text-light" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/static/assets/wilsan-u-BCATbA86WAw-unsplash.jpg'); height:100vh; background-size: cover;">
        <div class="container">
            <h1 class="display-3 fw-bold" style="font-family: 'Playfair Display', serif; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);">Connecting Farmer and agricultural experts</h1>
            <p class="lead" style="font-family: 'Roboto', sans-serif; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);">Crop Guardian: Bridging Farmers and Agricultural Experts for Smarter, Sustainable Crop Management and Proactive Solutions.</p>
        </div>
    </section>


{% endblock %}
