{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h2 class="text-center my-4">Send a Message to {{ botanist.username }}</h2>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Send</button>
            </form>
            <a href="{% url 'messaging:conversation_list' %}" class="btn btn-secondary mt-3">Back to Inbox</a>
        </div>
    </div>
</div>
{% endblock %}

<style>.chat-container {
    display: flex;
    flex-direction: column;
}

.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}

.received {
    align-self: flex-start;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}
</style>